@{
    ViewBag.Title = "Alta";
}

    <div>
        <form method="post" action="/Area/Alta">            
            <label>
                AreaTrabajo:
                <input type="text" class="mb-2 form-control" name="AreaTrabajo" />
            </label>
            <br />
         <input type="submit" class="btn btn-success" value="Confirmar" />
        </form>
    </div>
