@model Proyecto_Tienda.Models.Area
@{
    ViewBag.Title = "Modificacion";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Alta</title>
</head>
<body>
    <div>

        <form method="post" action="/Area/Modificacion">

            <br />
            <label>
                Id:
                <input type="text" name="Id" value="@Model.Id" />
            </label>
            
            <br />
            <label>
                AreaTrabajo:
                <input type="text" name="AreaTrabajo" value="@Model.AreaTrabajo" />
            </label>
            
            <br />
            <input type="submit" value="Confirmar" />
        </form>
    </div>
</body>
</html>
