@{
    ViewBag.Title = "Alta";
}

    <div>
        <form method="post" action="/Tienda/Alta">                       
            <label>
                Sucursal:
                <input type="text" class="mb-2" name="Sucursal" />
            </label>
            <br />
            <input type="submit" value="Confirmar" />
        </form>
    </div>
