@{
    ViewBag.Title = "Alta";
}

    <div>
        <form method="post" action="/Proveedor/Alta">
            <label>
                Proveedor:
                <input type="text" class="mb-2 form-control" name="Proveedor" />
            </label>
            <br />
            <label>
                Contacto:
                <input type="text" class="mb-2 form-control" name="Contacto" />
            </label>
            <br />
            <input type="submit" class="btn btn-success" value="Confirmar" />
        </form>
    </div>