@{
    ViewBag.Title = "Alta";
}
    <div>
        <form method="post" action="/Cliente/Alta">
            <label>
                Nombre:
                <input type="text" class="mb-2 form-control" name="Nombre" />
            </label>
            <br />
            <label>
                Direccion:
                <input type="text" class="mb-2 form-control" name="Direccion" />
            </label>
            <br />
            <input type="submit" value="Confirmar" class="btn btn-success" />
        </form>
    </div>

